@model ProjFinal.Models.Purchase

@{
    ViewData["Title"] = "Editar Compra";
}

<h1>Editar a Compra</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label class="control-label">Estado Atual:</label>
                <p><strong>@Model.Status</strong></p>
            </div>

            <div class="form-group">
                <label for="Status">Novo Estado</label>
                <select name="Status" class="form-control">
                    @foreach (var item in (List<SelectListItem>)ViewBag.StatusList)
                    {
                        var selectedAttr = item.Value == Model.Status.ToString() ? "selected=\"selected\"" : "";

                        @:<option value="@item.Value" @Html.Raw(selectedAttr)>@item.Text</option>
                    }
                </select>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
